:root {
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 24px;
  --color-black: #333;
  --color-white: #fff;
  --color-light-grey: #f1f1f1;
  --color-green-accent: #4bc970;
  --color-darkgreen-accent: #2a4231;
  --max-content-width: 1024px;
  /*
  "rivers of text"
  */
  --vertical-rhythm: 1rem;
  /*
  constrain text meausres to aid eye tracking
  - equates to ~600px at 'normal' font-size (16px on <body>)
  - scales if user adjusts the font-size
  */
  --max-measure-length: 38rem;
  /*
  constrain artwork images to size returned by discogs
  also prevents them taking over the whole viewport!
  */
  --max-image-width: 600px;
  /*
  minimum supported mobile device width, minus padding + grid gap
  - equates to [2+*m] grids on all devices
  - 320 - 2*(--spacing-medium) - (--spacing--large)
  */
  --min-grid-item-width: 144px;
  /*
  supply larger minimum column width to larger viewports
  - equates to 1.5 * thumbnail imagwe size supplied by discogs
  - factor should aid image resampling and rasterisation by browser
  */
  --desktop-min-grid-item-width: 225px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100%;
}

body {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--color-green-accent);
  margin-top: 0;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.25rem;
}

.h3 {
  font-size: 1.1rem;
}

@media (orientation: portrait) and (min-width: 768px),
  (orientation: landscape) and (min-width: 1024px) {
  .h1 {
    font-size: 2rem;
  }
}

a,
.disabled-link {
  background-color: var(--color-light-grey);
  display: inline-block;
  padding: 2px;
  color: var(--color-black);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: var(--color-darkgreen-accent);
  color: var(--color-white);
}

.disabled-link {
  opacity: 0.5;
}

p,
ol,
ul {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: var(--vertical-rhythm);
}

p {
  max-width: var(--max-measure-length);
}

ol,
ul {
  list-style-position: inside;
  padding-left: 0;
}

.header {
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  padding: 0;
  flex-shrink: 0;
  z-index: 3;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.24);
}

@media (orientation: portrait) and (min-width: 768px),
  (orientation: landscape) and (min-width: 1024px) {
  .header {
    padding: var(--spacing-large) 0;
  }
}

.header a {
  color: var(--color-white);
}

.header a:not(:hover) {
  background-color: var(--color-black);
}

.nav {
  background-color: var(--color-light-grey);
  flex-shrink: 0;
  z-index: 2;
}

.search-input {
  padding: var(--spacing-medium);
  border: 1px solid var(--color-green-accent);
  font-style: normal;
  margin-right: var(--spacing-small);
}

.search-submit {
  padding: var(--spacing-medium);
  color: #fff;
  background-color: var(--color-green-accent);
  border: 0;
  font-style: normal;
  text-transform: uppercase;
  border: 1px solid var(--color-green-accent);
  border-radius: 5px;
}

.main {
  position: relative;
  background-color: var(--color-white);
  flex-grow: 1;
}

.loader {
  background: var(--color-white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.75;
  transition: opacity 500ms linear;
  visibility: hidden;
}

.loader.is-loaded {
  opacity: 0;
}

.loader.is-shown {
  visibility: visible;
}

.loader.is-hidden:before {
  animation-play-state: paused;
}

.loader:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 75px;
  height: 75px;
  animation: spin 1s ease-in-out infinite;
  border: 3px solid var(--color-green-accent);
  border-radius: 50%;
  border-top-color: var(--color-darkgreen-accent);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.content {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--spacing-medium);
}

@media (orientation: portrait) and (min-width: 768px),
  (orientation: landscape) and (min-width: 1024px) {
  .content {
    padding: var(--spacing-large) var(--spacing-medium);
  }
}

.grid {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-grid-item-width), max-content)
  );
  grid-column-gap: var(--spacing-large);
  grid-row-gap: var(--spacing-large);
  grid-auto-flow: dense;
}

@media (orientation: portrait) and (min-width: 768px),
  (orientation: landscape) and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--desktop-min-grid-item-width), max-content)
    );
  }
}

.grid-item {
  background-color: var(--color-light-grey);
  overflow: hidden;
  border-radius: 5px;
}

.grid-item img {
  width: 100%;
  position: relative;
}

.grid-item img:before {
  content: ' ';
  display: block;
  background-color: red;
  position: absolute;
  height: 100%;
  width: 100%;
}

.grid-item a {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

.grid-item .desc {
  background-color: var(--color-darkgreen-accent);
  flex-grow: 1;
  display: block;
  padding: var(--spacing-medium);
  color: var(--color-light-grey);
  border-top: 1px solid var(--color-white);
}

.artwork {
  width: 100%;
  max-height: var(--max-image-width);
  object-fit: scale-down;
  object-position: 0 0;
  margin-bottom: var(--vertical-rhythm);
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: var(--color-black);
  color: var(--color-light-grey);
  flex-shrink: 0;
  z-index: 2;
}

.disclaimer {
  font-size: 0.8rem;
}
